<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>775089070575-saqccrr03bshdnjq9ndreji5h011bf20.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.775089070575-saqccrr03bshdnjq9ndreji5h011bf20</string>
	<key>API_KEY</key>
	<string>AIzaSyC0YhzewyxDUV5kLDFFZOX81ZdN7JdJzzc</string>
	<key>GCM_SENDER_ID</key>
	<string>775089070575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ro.codebranch.roadout</string>
	<key>PROJECT_ID</key>
	<string>roadout-e38fe</string>
	<key>STORAGE_BUCKET</key>
	<string>roadout-e38fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:775089070575:ios:c586af6668d2795633561a</string>
</dict>
</plist>